.ligne-clic{
    background-color: orange;
    font-size: 24px;
}

.ligne-paire{
    background-color: blue;
}

.ligne-impaire{
    background-color: ivory;
}

.rouge{
    background-color: red;
}

.vert{
    background-color: green;
}

.jaune{
    background-color: yellow;
}